body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#containerJogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
    gap: 4vh;
}

#copoInvertido{
    height: 50vh;
}

.dado{
    height: 10vh;
}

#inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vh;
    font-size: 3vh;

    height: 8vh;
}

#inputs button{
    height: 6vh;
    width: 6vh;

    border: none;
    background-color: black;
}

.opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.opcoes div{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6vh;
    width: 13vh;
}

.opcoes i{
    font-size: 2.5vh;
    color: white;
}

#containerChute{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 25vh;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 1.5vh;
    overflow: hidden; 
}

#containerNumDeDados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 1.5vh;
    overflow: hidden; 
    width: 25vh;
}

#jogar{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 4vh;
    color: white;
    background-color: red;
    border: none;
    border-radius: 1vh;
    height: 6vh;
    width: 18vh;
}